.header {
	z-index: 1000;
	min-width: 320px;
	width: 100%;
	background-color: var(--white-color);

	&-container {
		display: flex;
		align-items: flex-start;
	}

	&-nav {
		&-container {
			flex-wrap: wrap;
		}
	}

	&-search {
		position: relative;
		flex: 1;
	}

	&-contacts {
		display: flex;
		align-items: center;

		&__tel {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&-caption {
				&:hover {
					color: var(--gray2-color);
				}
			}
		}
	}

	&-profile {
		margin-left: auto;

		&__list {
			display: flex;
			align-items: center;
			gap: 32px;
		}
	}

	&-catalog {
		position: relative;
		display: flex;
		align-items: flex-start;

		&-preview,
		&-sections {
			display: flex;
			align-items: center;
			min-height: 40px;
			height: 40px;
			overflow: hidden;

			.link {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
		&-sections {
			margin-left: auto;
		}
	}
}

.burger {
	.icon {
		pointer-events: none;
	}
}

.menu-catalog {
	z-index: 2000;
	position: fixed;
	display: flex;
	flex-direction: column;
	box-shadow: 0 12px 32px rgba(128, 129, 133, 0.32);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	background-color: var(--white-color);

	&.active {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;

		& ~ .main {
			&::before {
				content: "";
				z-index: 999;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.65);
			}
		}
	}
	&.menu-catalog-overflow {
		overflow: auto;
	}
	&,
	&-root,
	&-submenu-links {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track {
				background-color: transparent;
			}
			&-scrollbar-button {
				display: none;
			}
			&-scrollbar-thumb {
				border-radius: 3px;
				background-color: var(--gray5-color);
			}
		}
	}
	&,
	&-root {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb {
				min-width: 5px;
				width: 5px;
			}
		}
	}

	&-container {
		position: relative;
		display: flex;
	}

	&-root {
		overflow: auto;

		&-categories {
			.menu-catalog-root-link {
				font-size: 14px;
			}
		}
		&-link {
			position: relative;
			display: inline-flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;
			min-width: 100%;
			width: 100%;
			min-height: 40px;
			height: 40px;
			padding: 0 16px;
			border: 0;
			border-radius: 2px;
			background-color: var(--white-color);
			color: var(--black-color);
			font-weight: 400;
			line-height: 20px;
			cursor: pointer;
			transition: var(--transition);

			.icon,
			.text-content {
				pointer-events: none;
				user-select: none;
			}
			.icon {
				fill: var(--black-color);
				stroke: var(--black-color);
			}
			.text-content {
				white-space: nowrap;
			}

			&:hover,
			&:active,
			&.active {
				background-color: var(--gray4-color);
				color: var(--black-color);
			}
		}
	}

	&-submenu {
		&-section {
			&:not(.active) {
				display: none;
			}
		}

		&-links {
			&::-webkit {
				&-scrollbar,
				&-scrollbar-track,
				&-scrollbar-thumb {
					min-height: 5px;
					height: 5px;
				}
			}
		}

		&-banners {
			display: flex;
			flex: 1;
			align-items: flex-end;

			.swiper {
				cursor: e-resize;
			}
			&__item {
				position: relative;

				&::before {
					z-index: -1;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 2px;
					background-color: var(--gray5-color);
					color: var(--gray2-color);
					font-weight: 700;
					font-size: 14px;
					line-height: 1;
				}
				&,
				img {
					display: flex;
					border-radius: 4px;
				}
			}
		}
	}
}

.mobile-menu {
	z-index: 2000;
	position: fixed;
	flex-direction: column;
	overflow: auto;
	user-select: auto;
	background-color: var(--white-color);
	transition: var(--transition);

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		.mobile-menu-close {
			position: fixed;
			opacity: 1;
			pointer-events: auto;
			user-select: auto;
			cursor: pointer;

			.icon {
				fill: var(--white-color);
			}
		}
	}

	&-catalog {
		.menu-catalog-spoiler {
			min-width: 100%;
		}
	}

	&__item {
		padding: 16px;
	}

	&-list {
		flex: 1;

		li {
			border-top: 1px solid var(--gray4-color);
		}
		.mobile-menu__item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.mobile-menu__link {
			min-width: 100%;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		color: var(--text-primary);
		font-weight: 600;
		font-size: 11px;
		line-height: 24px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
	}

	&-footer {
		.mobile-menu__item {
			&:last-child {
				padding-top: 8px;
				padding-bottom: 32px;
			}
		}
	}

	&-login {
		display: flex;
		align-items: center;
		gap: 8px;

		.btn {
			flex: 1;
		}
	}

	&-contacts {
		display: flex;
		flex-direction: column;

		&__caption {
			&:hover {
				color: var(--gray2-color);
			}
		}
	}
}

.action-notice {
	z-index: 2000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: none;
	padding: 12px 16px;
	opacity: 0;
	background-color: var(--gray2-color);

	&__view {
		display: inline-flex;
		vertical-align: top;

		&:not(:last-child) {
			margin-right: 12px;
		}
		.icon {
			fill: var(--text-caption);
		}
	}
	&__descr {
		display: inline-flex;
		flex-direction: column;
		gap: 4px;
		vertical-align: middle;
	}
	&__title {
		color: var(--white-color);
	}
	&__text {
		color: var(--text-caption);
		font-size: 12px;
	}
}

@media (min-width: 992px) {
	.menu-catalog {
		&-root {
			min-width: 350px;
			width: 350px;
			padding: 32px 32px 32px 0;
			border-right: 1px solid var(--gray4-color);

			&-item {
				&-pointer {
					display: none;
				}
			}
		}
		&-submenu {
			min-width: calc(100% - 350px);
			width: calc(100% - 350px);
			padding: 32px 0 32px 32px;

			&-section {
				display: flex;
				flex-direction: column;
				gap: 32px;

				&__title {
					line-height: 1;
				}
			}
			&-links {
				min-height: 366px;
				height: 366px;
				padding-bottom: 12px;
				overflow: auto;
				column-gap: 40px;

				&__list {
					break-inside: avoid;

					&:not(:last-child) {
						margin-bottom: 40px;
					}
					li {
						line-height: 18px;

						&:not(:last-child) {
							margin-bottom: 16px;
						}
					}
				}
				&-pointer {
					display: none;
				}
			}
			&-banners {
				&__item {
					&,
					img {
						min-width: 273px;
						width: 273px;
						min-height: 200px;
						height: 200px;
					}

					&::before {
						content: "273 × 200";
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		position: fixed;

		& ~ .main {
			padding-top: calc(162px + 24px);
		}

		&-contacts {
			gap: 32px;
		}

		&-mobile-menu {
			display: none;
		}

		&:not(.scrolled) {
			padding-bottom: 8px;

			& .header-nav {
				padding-top: 16px;
			}

			& .header-logo {
				margin-bottom: 20px;
			}

			& .header-search,
			& .header-contacts,
			& .header-profile {
				padding-top: 24px;
			}

			& .header-catalog {
				min-width: 100%;
			}

			& ~ .menu-catalog {
				top: 162px;
				right: 0;
				left: 0;

				&.menu-catalog-overflow {
					min-height: calc(100vh - 162px);
					height: calc(100vh - 162px);
				}
			}
		}

		&.scrolled {
			box-shadow: 0 4px 12px rgba(128, 129, 133, 0.16);

			& .header-logo,
			& .header-catalog-preview,
			& .header-catalog-sections {
				display: none;
			}

			& .header-nav {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			& .header-search,
			& .header-catalog {
				align-self: center;
			}

			& .header-search {
				order: 1;
			}

			& .header-contacts {
				order: 2;
			}

			& .header-profile {
				order: 3;
			}

			& .header-catalog {
				order: 0;

				&-spoiler {
					min-height: 40px;
					height: 40px;

					.btn__text {
						display: none;
					}
				}
			}

			& ~ .menu-catalog {
				top: 60px;
				right: 0;
				left: 0;

				&.menu-catalog-overflow {
					min-height: calc(100vh - 60px);
					height: calc(100vh - 60px);
				}
			}
		}
	}

	.menu-catalog {
		&,
		&-root,
		&-submenu {
			min-height: 710px;
			height: 710px;
		}
		&-header {
			display: none;
		}
		&-submenu {
			&-links {
				column-count: 3;
			}
		}
	}

	.mobile-menu {
		display: none;
	}
}
@media (min-width: 1400px) {
	.header {
		&:not(.scrolled) {
			& .header-logo,
			& .header-contacts {
				&:not(:last-child) {
					margin-right: 32px;
				}
			}

			& .header-search {
				max-width: 470px;

				&:not(:last-child) {
					margin-right: 40px;
				}
			}

			& .header-catalog {
				gap: 32px;

				&-preview {
					gap: 32px;
				}
				&-sections {
					gap: 28px;
				}
			}
		}

		&.scrolled {
			& .header-catalog,
			& .header-search,
			& .header-contacts {
				&:not(:last-child) {
					margin-right: 16px;
				}
			}

			& .header-search {
				max-width: 650px;
			}
		}
	}
}
@media (max-width: 1199.98px) {
	.header {
		&-catalog {
			display: none;
		}

		& .header-nav {
			padding-top: 10px;
		}

		& .header-logo,
		& .header-contacts,
		& .header-profile,
		& .header-mobile-menu {
			min-height: 50px;
			height: 50px;
			margin-bottom: 10px;
		}

		&-logo {
			order: 0;

			.image {
				min-width: 104px;
				width: 104px;
				min-height: 50px;
				height: 50px;
			}
		}

		&-search {
			order: 20;
			min-width: 100%;

			.input-search-wrapper {
				&::before {
					content: "";
					position: absolute;
					top: 50%;
				}
			}
			.input-search {
				padding-right: 64px;
				border-radius: 0;
				background: var(--gray5-color);

				&-action {
					padding: 0 0 0 8px;
					right: 16px;
				}
			}
			.input-search-btn {
				display: none;
			}
		}

		&-contacts,
		&-profile,
		&-mobile-menu {
			align-self: center;
		}

		&-contacts {
			order: 2;

			&__number {
				font-weight: 600;
				font-size: 13px;
				line-height: 1;
				text-decoration: underline;
				text-decoration-style: dashed;
				text-underline-offset: 4px;

				&:hover {
					text-decoration: none;
					text-decoration-style: unset;
					text-underline-offset: unset;
				}
			}
			&__call {
				display: none;
			}
		}

		&-profile {
			order: 3;
			display: flex;
			align-items: center;
		}

		&-catalog {
			&-spoiler {
				.overlay-transparent {
					display: none;
				}
			}
		}

		&-mobile-menu {
			order: 10;
			display: flex;
			align-items: center;

			.burger {
				display: flex;

				&.active {
					.icon {
						opacity: 0;
					}
				}
				.icon {
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
				}
			}
		}
	}

	.menu-catalog {
		top: 0;
		right: 0;
		left: 0;
		min-height: 100vh;

		&.menu-catalog-overflow {
			min-height: 100vh;
			height: 100vh;
		}
		&-container {
			flex-wrap: wrap;
			padding-top: 61px;
		}
		&-header {
			z-index: 1;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			display: flex;
			align-items: flex-start;
			gap: 8px;
			min-width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid var(--gray4-color);
			background-color: var(--white-color);
		}
		&-title {
			display: flex;
			align-items: center;
			gap: 8px;
			min-height: 40px;
			line-height: 20px;
		}
		&-title-back,
		&-close {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
			padding: 8px;
		}
		&-close {
			margin-left: auto;
		}
	}

	.mobile-menu {
		top: 0;
		left: -100vw;
		display: flex;
		min-width: 300px;
		width: 300px;
		height: 100vh;

		&-close {
			z-index: 1;
			position: fixed;
			top: 14px;
			right: 100vw;
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
			padding: 4px;
			opacity: 0;
			pointer-events: none;
			user-select: none;
			cursor: default;

			.icon {
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
			}
		}
		&.active {
			left: 0;
		}

	}
}
@media (max-width: 991.98px) {
	.header {
		&-search {
			margin-right: -16px;
			margin-left: -16px;
		}
	}

	.menu-catalog {
		&-container {
			padding-right: 0;
			padding-bottom: 28px;
			padding-left: 0;
		}
		&-header {
			padding-right: 16px;
			padding-left: 16px;

			&:not(.submenu) {
				.menu-catalog-title-back {
					display: none;
				}
			}
		}
		&-root {
			min-width: 100%;

			&.hide {
				display: none;
			}
			&-item {
				.btn {
					min-height: 44px;
					height: 44px;
					padding: 5px 16px;
					border-bottom-color: var(--gray5-color);
					border-radius: 0;

					&:hover {
						background-color: transparent;
					}
				}
				&-pointer {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
					margin-left: auto;
				}
			}
		}
		&-submenu {
			min-width: 100%;
			padding-bottom: 24px;

			&:not(.active) {
				display: none;
			}
			&-section {
				&__title {
					display: none;
				}
			}
			&-links {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&__list {
					a {
						position: relative;
						display: inline-flex;
						justify-content: flex-start;
						align-items: center;
						gap: 12px;
						width: 100%;
						min-height: 44px;
						height: 44px;
						padding: 5px 16px;
						border: 1px solid transparent;
						border-bottom-color: var(--gray5-color);
						border-radius: 0;
						background-color: transparent;
						color: var(--text-primary);
						font-family: var(--font-family-inter);
						font-weight: 400;
						font-size: 13px;
						letter-spacing: 0;
						text-transform: unset;
						line-height: 18px;
						cursor: pointer;
						transition: var(--transition);

						.menu-catalog-submenu-link-text {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}

						&:hover {
							background-color: transparent;
							color: var(--text-primary);
						}
					}
				}
				&-pointer {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
					margin-left: auto;
				}
			}
			&-banners {
				&__item {
					&,
					img {
						min-width: 218px;
						width: 218px;
						min-height: 160px;
						height: 160px;
					}

					&::before {
						content: "218 × 160";
					}
				}
				.swiper {
					&-wrapper {
						padding-left: 16px;
					}
					&-slide {
						&:last-child {
							margin-right: 28px!important;
						}
					}
				}
			}
		}
	}

	.mobile-menu {
		&.active {
			.mobile-menu-close {
				right: 16px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		& .header-logo,
		& .header-contacts,
		& .header-profile {
			&:not(:last-child) {
				margin-right: 16px;
			}
		}

		&-contacts {
			gap: 16px;

			&:not(:last-child) {
				margin-right: 16px;
			}
		}

		&-profile {
			display: none;
		}

		&-mobile-menu {
			margin-left: auto;
		}
	}
}
@media (max-width: 575.98px) {
	.header {
		&-contacts {
			&__tel {
				&-num {
					font-size: 15px;
				}
				&-caption {
					display: none;
				}
			}
			&__soc {
				display: none;
			}
		}
	}

	.menu-catalog {
		&-title {
			font-size: 18px;
		}
	}
}
@media (max-width: 374.98px) {
	.header {
		& .header-logo,
		& .header-contacts,
		& .header-profile,
		& .header-mobile-menu {
			min-height: 40px;
			height: 40px;
		}

		&-logo {
			.image {
				min-width: 83px;
				width: 83px;
				min-height: 40px;
				height: 40px;
			}
		}
	}
	
	.mobile-menu {
		min-width: 280px;
		width: 280px;

		&.active {
			.mobile-menu-close {
				right: 0;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.header {
		& .header-logo,
		& .header-contacts,
		& .header-profile {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		&-contacts {
			gap: 20px;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.header {
		&-search {
			margin-right: -50px;
			margin-left: -50px;

			.input-search-wrapper {
				&::before {
					left: 50px;
				}
			}
			.input-search {
				padding: 12px 50px 12px 78px;
			}
		}
	}

	.menu-catalog {
		&-header {
			padding-right: 50px;
			padding-left: 50px;
		}
		&-submenu {
			&-links {
				column-count: 2;
			}
		}
		&-title {
			&-back {
				display: none;
			}
		}
	}

	.mobile-menu {
		&.active {
			.mobile-menu-close {
				right: 50px;
			}
		}

	}
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.header {
		&:not(.scrolled) {
			& .header-logo,
			& .header-contacts {
				&:not(:last-child) {
					margin-right: 16px;
				}
			}

			& .header-search {
				max-width: 375px;

				&:not(:last-child) {
					margin-right: 16px;
				}
			}

			& .header-catalog {
				gap: 16px;

				&-preview,
				&-sections {
					gap: 16px;
				}
			}
		}

		&.scrolled {
			& .header-catalog,
			& .header-search,
			& .header-contacts {
				&:not(:last-child) {
					margin-right: 12px;
				}
			}

			& .header-search {
				max-width: 450px;
			}
		}
	}
}