.header {
	z-index: 1000;
	min-width: 320px;
	width: 100%;
	background-color: var(--white-color);

	&-container {
		display: flex;
		align-items: flex-start;
	}

	&-nav {
		&-container {
			flex-wrap: wrap;
		}
	}

	&-search {
		position: relative;
		flex: 1;
	}

	&-contacts {
		&__tel {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&-profile {
		margin-left: auto;

		&__list {
			display: flex;
			align-items: center;
			gap: 32px;
		}
	}

	&-catalog {
		position: relative;
		display: flex;
		align-items: flex-start;

		&-preview,
		&-sections {
			display: flex;
			align-items: center;
			min-height: 40px;
			height: 40px;
			overflow: hidden;

			.link {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}
		&-preview {
			gap: 32px;
		}
		&-sections {
			gap: 28px;
			margin-left: auto;
		}
	}
}

.burger {
	.icon {
		pointer-events: none;
	}
}

.menu-catalog {
	z-index: 2000;
	position: fixed;
	display: flex;
	flex-direction: column;
	box-shadow: 0 12px 32px rgba(128, 129, 133, 0.32);
	opacity: 0;
	pointer-events: none;
	user-select: none;
	background-color: var(--white-color);

	&.active {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	&.menu-catalog-overflow {
		overflow: auto;
	}
	&,
	&-root,
	&-submenu-links {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track {
				background-color: transparent;
			}
			&-scrollbar-button {
				display: none;
			}
			&-scrollbar-thumb {
				border-radius: 3px;
				background-color: var(--gray5-color);
			}
		}
	}
	&,
	&-root {
		&::-webkit {
			&-scrollbar,
			&-scrollbar-track,
			&-scrollbar-thumb {
				min-width: 5px;
				width: 5px;
			}
		}
	}

	&-container {
		position: relative;
		display: flex;
	}

	&-root {
		overflow: auto;

		&-item {
			& .btn {
				justify-content: flex-start;
				width: 100%;
				gap: 12px;
				font-weight: 400;
				font-size: 13px;
				line-height: 18px;
				letter-spacing: 0;
				text-transform: unset;

				.icon {
					fill: var(--text-secondary);
				}
			}
		}
	}

	&-submenu {
		&-section {
			&:not(.active) {
				display: none;
			}
		}

		&-links {
			&::-webkit {
				&-scrollbar,
				&-scrollbar-track,
				&-scrollbar-thumb {
					min-height: 5px;
					height: 5px;
				}
			}
		}

		&-banners {
			display: flex;
			flex: 1;
			align-items: flex-end;

			&__item {
				picture {
					position: relative;
				}
				&,
				picture,
				img {
					display: flex;
					border-radius: 4px;
				}
				picture {
					&::before {
						z-index: -1;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 4px;
						background-color: var(--gray6-color);
						color: var(--text-caption);
						font-weight: 700;
						font-size: 14px;
						line-height: 1;
					}
				}
			}
		}
	}
}

.mobile-menu {
	z-index: 2000;
	position: fixed;
	flex-direction: column;
	overflow: auto;
	user-select: auto;
	background-color: var(--white-color);
	transition: var(--transition);

	&::-webkit-scrollbar {
		width: 0;
	}
	&.active {
		& .mobile-menu-close {
			position: fixed;
			opacity: 1;
			pointer-events: auto;
			user-select: auto;
			cursor: pointer;

			& .icon {
				fill: var(--white-color);
			}
		}
	}

	&-catalog {
		& .menu-catalog-spoiler {
			min-width: 100%;
		}
	}

	&__item {
		padding: 16px;
	}

	&-list {
		flex: 1;

		& li {
			border-top: 1px solid var(--gray5-color);
		}
		& .mobile-menu__item {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		& .mobile-menu__link {
			min-width: 100%;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		color: var(--text-primary);
		font-weight: 600;
		font-size: 11px;
		line-height: 24px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
	}

	&-city {
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--text-secondary);

		& .icon {
			fill: var(--text-secondary);
		}
		&__text {
			display: flex;
			align-items: center;
			gap: 4px;
			width: min-content;

			& .icon {
				fill: var(--text-primary);
			}
		}
		&:hover {
			color: var(--text-primary);

			& .icon {
				fill: var(--text-primary);
			}
		}
	}

	&-footer {
		& .mobile-menu__item {
			&:last-child {
				padding-top: 8px;
				padding-bottom: 32px;
			}
		}
	}

	&-login {
		display: flex;
		align-items: center;
		gap: 8px;

		& .btn {
			flex: 1;
		}
	}

	&-contacts {
		display: flex;
		flex-direction: column;

		&__number {
			color: var(--text-primary);
			font-weight: 700;
			font-size: 16px;
			line-height: 1.3;
		}
		&__call {
			color: var(--text-secondary);
			font-size: 12px;
		}
	}
}

.action-notice {
	z-index: 2000;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: none;
	padding: 12px 16px;
	opacity: 0;
	background-color: var(--gray2-color);

	&__view {
		display: inline-flex;
		vertical-align: top;

		&:not(:last-child) {
			margin-right: 12px;
		}
		& .icon {
			fill: var(--text-caption);
		}
	}
	&__descr {
		display: inline-flex;
		flex-direction: column;
		gap: 4px;
		vertical-align: middle;
	}
	&__title {
		color: var(--white-color);
	}
	&__text {
		color: var(--text-caption);
		font-size: 12px;
	}
	&__count {}
}

@media (min-width: 992px) {
	.menu-catalog {
		&-root {
			min-width: 350px;
			width: 350px;
			padding: 32px 32px 32px 0;
			border-right: 1px solid var(--gray5-color);

			&-item {
				&-pointer {
					display: none;
				}
			}
		}
		&-submenu {
			min-width: calc(100% - 350px);
			width: calc(100% - 350px);
			padding: 28px 0 28px 32px;

			&-section {
				display: flex;
				flex-direction: column;
				gap: 32px;

				&__title {
					line-height: 1;
				}
			}
			&-links {
				min-height: 366px;
				height: 366px;
				padding-bottom: 12px;
				overflow: auto;
				column-gap: 40px;

				&__list {
					break-inside: avoid;

					&:not(:last-child) {
						margin-bottom: 40px;
					}
					& li {
						line-height: 18px;

						&:not(:last-child) {
							margin-bottom: 16px;
						}
					}
				}
				&-pointer {
					display: none;
				}
			}
			&-banners {
				&__item {
					&,
					picture,
					img {
						min-width: 273px;
						width: 273px;
						min-height: 200px;
						height: 200px;
					}
					picture {
						&::before {
							content: "273 × 200";
						}
					}
				}
			}
		}
	}

	.mobile-menu-panel {
		display: none;
	}
}
@media (min-width: 1400px) {
	.header {
		position: fixed;

		& ~ .main {
			padding-top: calc(185px + 32px);
		}

		&-search,
		&-contacts,
		&-profile {
			padding-top: 24px;
		}

		&-contacts {
			display: flex;
			align-items: center;
			gap: 32px;
		}

		&-mobile-menu {
			display: none;
		}

		&:not(.scrolled) {
			& .header-nav {
				padding-top: 16px;
			}

			& .header-logo {
				margin-bottom: 20px;
			}

			& .header-logo,
			& .header-contacts {
				&:not(:last-child) {
					margin-right: 32px;
				}
			}

			& .header-search {
				max-width: 470px;

				&:not(:last-child) {
					margin-right: 40px;
				}
			}

			& .header-catalog {
				gap: 32px;
				min-width: 100%;
			}

			& ~ .menu-catalog {
				top: 185px;
				right: 0;
				left: 0;

				&.menu-catalog-overflow {
					min-height: calc(100vh - 185px);
					height: calc(100vh - 185px);
				}
			}
		}

		&.scrolled {
			box-shadow: 0 4px 12px rgba(128, 129, 133, 0.16);

			& .header-logo,
			& .header-catalog-preview {
				display: none;
			}

			& .header-nav {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			& .header-catalog,
			& .header-search,
			& .header-contacts {
				&:not(:last-child) {
					margin-right: 12px;
				}
			}

			& .header-search {
				order: 1;
				max-width: 650px;
			}

			& .header-contacts {
				order: 2;
			}

			& .header-profile {
				order: 3;
			}

			& .header-catalog {
				order: 0;

				&-spoiler {
					& .btn {
						min-height: 44px;
						height: 44px;
						padding: 11px;

						&__icon {
							min-width: 20px;
							width: 20px;
							min-height: 20px;
							height: 20px;
						}
						&__text {
							display: none;
						}
					}
				}
			}

			& ~ .menu-catalog {
				top: 61px;
				right: 0;
				left: 0;

				&.menu-catalog-overflow {
					min-height: calc(100vh - 61px);
					height: calc(100vh - 61px);
				}
			}
		}
	}

	.mobile-city {
		&,
		&.active {
			display: none;
		}
	}

	.menu-catalog {
		&,
		&-root,
		&-submenu {
			min-height: 710px;
			height: 710px;
		}
		&-header {
			display: none;
		}
		&-submenu {
			&-links {
				column-count: 3;
			}
		}
	}

	.mobile-menu {
		display: none;
	}
}
@media (max-width: 1399.98px) {
	.header {
		&-catalog {
			display: none;
		}

		& .header-nav {
			padding-top: 14px;
		}

		& .header-logo,
		& .header-contacts,
		& .header-mobile-menu {
			margin-bottom: 14px;
		}

		& .header-logo,
		& .header-contacts,
		& .header-profile {
			&:not(:last-child) {
				padding-right: 20px;
			}
		}

		&-logo {
			order: 0;

			& .image {
				min-width: 130px;
				width: 130px;
				min-height: 36px;
				height: 36px;
			}
		}

		&-search {
			order: 20;
			min-width: 100%;

			& .input-search-wrapper {
				&::before {
					content: "";
					position: absolute;
					top: 50%;
				}
			}
			& .input-search {
				border-radius: 0;
				background: var(--gray6-color);
			}
			& .input-search-btn {
				display: none;
			}
		}

		&-contacts {
			order: 2;

			&:not(:last-child) {
				margin-right: 12px;
			}
			&__tel {
				min-height: 36px;
				height: 36px;
			}
			&__number {
				font-weight: 600;
				font-size: 13px;
				line-height: 1;
				text-decoration: underline;
				text-decoration-style: dashed;
				text-underline-offset: 4px;

				&:hover {
					text-decoration: none;
					text-decoration-style: unset;
					text-underline-offset: unset;
				}
			}
			&__call {
				display: none;
			}
		}

		&-profile {
			order: 3;
		}

		&-catalog {
			&-spoiler {
				& .overlay-transparent {
					display: none;
				}
			}
		}

		&-mobile-menu {
			order: 10;

			& .burger {
				display: flex;
				padding: 2px;
				transform: scale(-1, 1);

				& .icon {
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
				}
			}
		}
	}

	.mobile-city {
		z-index: 2010;
		position: fixed;
		top: 0;
		left: 100vw;
		min-width: 100vw;
		width: 100%;
		min-height: 100vh;
		height: 100vh;
		background-color: var(--white-color);
		transition: var(--transition);

		&.active {
			&,
			.mobile-city-header {
				left: 0;
			}
		}
		&-header {
			z-index: 10;
			position: fixed;
			top: 0;
			left: 100vw;
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 100%;
			padding: 12px 16px 20px;
			border-bottom: 1px solid var(--gray5-color);
			background-color: var(--white-color);
			transition: var(--transition);

			&__top {
				display: flex;
				align-items: center;
			}
		}
		&__close {
			display: flex;
			margin-left: auto;
		}
		&-search {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.mobile-search-results-hint {
				margin-right: -16px;
				margin-left: -16px;

				.swiper {
					padding-right: 16px;

					&-slide {
						width: auto;

						&:first-child {
							margin-left: 16px;
						}
					}
				}
			}
		}
		&-alphabet {
			height: 100%;
			padding-top: 164px;

			&__list {
				display: flex;
				flex-wrap: wrap;
				overflow: auto;
				height: 100%;
			}
			&__item {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
			&__title {
				color: var(--text-caption);
				font-weight: 700;
			}
			&__title,
			&__city {
				display: flex;
				align-items: center;
				min-height: 44px;
				height: 44px;
				padding-right: 24px;
				padding-left: 24px;
				border-bottom: 1px solid var(--gray5-color);
				line-height: 18px;
			}
			&__city {
				color: var(--text-primary);
			}
		}
	}

	.menu-catalog {
		top: 0;
		right: 0;
		left: 0;
		min-height: 100vh;

		&.menu-catalog-overflow {
			min-height: 100vh;
			height: 100vh;
		}
		&-container {
			flex-wrap: wrap;
			padding-top: 53px;
		}
		&-header {
			z-index: 1;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			display: flex;
			align-items: flex-start;
			gap: 8px;
			min-width: 100%;
			padding-top: 2px;
			padding-bottom: 10px;
			border-bottom: 1px solid var(--gray5-color);
			background-color: var(--white-color);
		}
		&-title {
			display: flex;
			align-items: center;
			gap: 8px;
			min-height: 40px;
			line-height: 20px;
		}
		&-title-back,
		&-close {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
			padding: 8px;
		}
		&-close {
			margin-left: auto;
		}
	}

	.mobile-menu {
		top: 0;
		left: -100vw;
		display: flex;
		width: 300px;
		height: 100vh;

		&-close {
			z-index: 1;
			position: fixed;
			top: 14px;
			right: 100vw;
			min-width: 36px;
			width: 36px;
			min-height: 36px;
			height: 36px;
			padding: 2px;
			opacity: 0;
			pointer-events: none;
			user-select: none;
			cursor: default;

			& .icon {
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
			}
		}
		&.active {
			left: 0;
		}

	}
}
@media (max-width: 991.98px) {
	.header {
		&-search {
			margin-right: -16px;
			margin-left: -16px;
		}
	}

	.menu-catalog {
		&-container {
			padding-right: 0;
			padding-bottom: 28px;
			padding-left: 0;
		}
		&-header {
			padding-right: 16px;
			padding-left: 16px;

			&:not(.submenu) {
				.menu-catalog-title-back {
					display: none;
				}
			}
		}
		&-root {
			min-width: 100%;

			&.hide {
				display: none;
			}
			&-item {
				.btn {
					min-height: 44px;
					height: 44px;
					padding: 5px 16px;
					border-bottom-color: var(--gray5-color);
					border-radius: 0;

					&:hover {
						background-color: transparent;
					}
				}
				&-pointer {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
					margin-left: auto;
				}
			}
		}
		&-submenu {
			min-width: 100%;
			padding-bottom: 24px;

			&:not(.active) {
				display: none;
			}
			&-section {
				&__title {
					display: none;
				}
			}
			&-links {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
				&__list {
					a {
						position: relative;
						display: inline-flex;
						justify-content: flex-start;
						align-items: center;
						gap: 12px;
						width: 100%;
						min-height: 44px;
						height: 44px;
						padding: 5px 16px;
						border: 1px solid transparent;
						border-bottom-color: var(--gray5-color);
						border-radius: 0;
						background-color: transparent;
						color: var(--text-primary);
						font-family: var(--font-family-inter);
						font-weight: 400;
						font-size: 13px;
						letter-spacing: 0;
						text-transform: unset;
						line-height: 18px;
						cursor: pointer;
						transition: var(--transition);

						.menu-catalog-submenu-link-text {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}

						&:hover {
							background-color: transparent;
							color: var(--text-primary);
						}
					}
				}
				&-pointer {
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 32px;
					width: 32px;
					min-height: 32px;
					height: 32px;
					margin-left: auto;
				}
			}
			&-banners {
				&__item {
					&,
					picture,
					img {
						min-width: 218px;
						width: 218px;
						min-height: 160px;
						height: 160px;
					}
					picture {
						&::before {
							content: "218 × 160";
						}
					}
				}
				.swiper {
					&-wrapper {
						padding-left: 16px;
					}
					&-slide {
						&:last-child {
							margin-right: 28px!important;
						}
					}
				}
			}
		}
	}

	.mobile-menu {
		&.active {
			& .mobile-menu-close {
				right: 16px;
			}
		}

	}

	.mobile-menu-panel {
		z-index: 990;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		box-shadow: 0 4px 12px rgba(128, 129, 133, 0.16);
		background-color: var(--white-color);

		&__toolbar {
			border-top: 1px solid var(--gray5-color);
		}
		&__list {
			display: flex;
			justify-content: space-between;
			max-width: 375px;
			margin: 0 auto;
			padding: 8px 0 16px;
		}
		&__btn {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 6px;
			min-width: 75px;
			width: 75px;
			padding-top: 5px;
			padding-bottom: 5px;
			color: var(--text-secondary);
			font-size: 10px;
			line-height: 12px;

			&-cart {
				color: var(--text-primary);
				font-weight: 600;
			}
			&:hover {
				color: var(--red-color);

				& .icon {
					fill: var(--red-color);
				}
			}
		}
		& &__btn {
			min-height: 0;
			height: auto;

			&-view {
				.icon {
					min-width: 20px;
					width: 20px;
					min-height: 20px;
					height: 20px;
				}
			}
		}

		&__cart {
			padding: 8px 16px;
			border-top: 1px solid var(--gray5-color);

			&:not(.active) {
				display: none;
			}
			.cart-quantity-input {
				min-width: 65px;
				width: 65px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		&-profile {
			display: none;
		}

		&-mobile-menu {
			margin-left: auto;
		}
	}
}
@media (min-width: 992px) and (max-width: 1399.98px) {
	.header {
		&-search {
			margin-right: -50px;
			margin-left: -50px;

			& .input-search-wrapper {
				&::before {
					left: 50px;
				}
			}
			& .input-search {
				padding: 12px 50px 12px 78px;
			}
		}
	}

	.menu-catalog {
		&-header {
			padding-right: 50px;
			padding-left: 50px;
		}
		&-submenu {
			&-links {
				column-count: 2;
			}
		}
		&-title {
			&-back {
				display: none;
			}
		}
	}

	.mobile-menu {
		&.active {
			& .mobile-menu-close {
				right: 50px;
			}
		}

	}
}