@font-face {
	font-family: "Aeonik Pro TRIAL", sans-serif;
	src: url("../fonts/Aeonik Pro TRIAL.otf")format("opentype"),
		url("../fonts/Aeonik Pro TRIAL.woff2")format("woff2"),
		url("../fonts/Aeonik Pro TRIAL.woff")format("woff"),
		url("../fonts/Aeonik Pro TRIAL.ttf")format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}