// базовые подключения
@import "vars";
@import "fonts";
@import "./helpers/grid-bootstrap";
@import "./helpers/ui";
@import "../../node_modules/swiper/swiper-bundle";
@import "../../node_modules/select2/dist/css/select2";
@import "../../node_modules/@fancyapps/ui/dist/fancybox";
@import "../../node_modules/tippy.js/dist/tippy";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 320px;
	overflow: hidden;
}
@media (max-width: 1199.98px) {
	.main {
		padding-top: 16px;
	}
}

.index-slider-wrapper {
	position: relative;

	.swiper-navigation {
		right: 0;
		left: 0;

		.swiper-button-next,
		.swiper-rtl .swiper-button-prev,
		.swiper-button-prev,
		.swiper-rtl .swiper-button-next {
			opacity: 0;
		}
	}
	.swiper-pagination {
		bottom: 8px;

		&-bullet {
			width: 7px;
			height: 3px;
			background-color: var(--gray3-color);

			&-active {
				width: 17px;
				background-color: var(--white-color);
			}
		}
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 1px;
	}

	&:hover {
		.swiper-navigation {
			.swiper-button-next,
			.swiper-rtl .swiper-button-prev,
			.swiper-button-prev,
			.swiper-rtl .swiper-button-next {
				opacity: 1;
			}
			.swiper-button-next.swiper-button-disabled,
			.swiper-rtl .swiper-button-prev.swiper-button-disabled,
			.swiper-button-prev.swiper-button-disabled,
			.swiper-rtl .swiper-button-next.swiper-button-disabled {
				opacity: 0.5;
			}
			.swiper-button-next,
			.swiper-rtl .swiper-button-prev {
				right: 24px;
			}
			.swiper-button-prev,
			.swiper-rtl .swiper-button-next {
				left: 24px;
			}
		}
	}
}
.index-slider {
	position: relative;
	min-width: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 2px;
	background-color: var(--gray5-color);

	&::before {
		content: "";
		z-index: 10;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		min-height: 3px;
		height: 3px;
		background: linear-gradient(30deg, #FC9F20, #E80B3A);
	}
}
@media (max-width: 991.98px) {
	.index-slider-wrapper {
		margin-right: -16px;
		margin-left: -16px;
	}
	.index-slider {
		.swiper-navigation,
		.swiper-pagination {
			display: none;
		}
	}
}

.main-banner {
	z-index: 1;
	position: relative;
	display: flex;
	min-width: 100%;
	width: 100%;
	background-position: center center;
	background-size: cover;

	&__item {
		z-index: 1;
	}
	&__descr {
		display: flex;
		flex: 1;
		flex-direction: column;
	}
	&__title {
		text-transform: uppercase;
	}
	&__decor {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		min-width: 45%;
		width: 45%;

		.image {
			filter: drop-shadow(0 30px 60px rgba(7, 7, 7, 0.2));
		}
	}

}
@media (min-width: 992px) {
	.main-banner {
		&__descr {
			gap: 24px;
			padding: 60px 40px 60px 7%;
		}
		&__decor {
			padding-right: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.main-banner {
		&__descr {
			gap: 16px;
			padding: 40px 20px;
		}
	}
}
@media (max-width: 575.98px) {
	.main-banner {
		&__subtitle,
		&__more {
			padding-right: 47%;
		}
		&__decor {
			margin-left: -45%;
		}
	}
}
/*////////////////*/

@media (min-width: 1200px) {
	.svn-benefit {
		.card-benefit {
			min-width: calc((100% - 40px) / 3);
			width: calc((100% - 40px) / 3);
		}
	}
}
@media (max-width: 991.98px) {
	.svn-benefit {
		.card-benefit {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.svn-benefit {
		.card-benefit {
			min-width: calc((100% - 20px) / 2);
			width: calc((100% - 20px) / 2);
		}
	}
}

@media (min-width: 1200px) {
	.svn-brands {
		.card-info {
			min-width: calc((100% - 100px) / 6);
			width: calc((100% - 100px) / 6);
		}
	}
}
@media (max-width: 575.98px) {
	.svn-brands {
		.card-info {
			min-width: calc((100% - 20px) / 2);
			width: calc((100% - 20px) / 2);
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.svn-brands {
		.card-info {
			min-width: calc((100% - 40px) / 3);
			width: calc((100% - 40px) / 3);
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.svn-brands {
		.card-info {
			min-width: calc((100% - 60px) / 4);
			width: calc((100% - 60px) / 4);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.svn-brands {
		.card-info {
			min-width: calc((100% - 80px) / 5);
			width: calc((100% - 80px) / 5);
		}
	}
}

.svn-articles {
	.card-article {
		.card__view {
			.image {
				aspect-ratio: 16/10;
			}
		}
	}
}
.articles-slider {
	& ~ .swiper-navigation {
		top: 30%;
		margin-top: unset;
	}
}
@media (min-width: 992px) {
	.svn-articles {
		.card-list {
			gap: 40px;
		}

		.card-article {
			min-width: calc((100% - 80px) / 3);
			width: calc((100% - 80px) / 3);
		}
	}
}
@media (max-width: 575.98px) {
	.svn-articles {
		.card-article {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.svn-articles {
		.card-article {
			min-width: calc((100% - 20px) / 2);
			width: calc((100% - 20px) / 2);
		}
	}
}

.svn-offer {
	.card-sale {
		.card__view {
			.image {
				aspect-ratio: 16/10;
			}
		}
	}
}
@media (min-width: 1200px) {
	.svn-offer {
		.card-sale {
			min-width: calc((100% - 60px) / 4);
			width: calc((100% - 60px) / 4);
		}
	}
}
@media (max-width: 575.98px) {
	.svn-offer {
		.card-sale {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.svn-offer {
		.card-sale {
			min-width: calc((100% - 20px) / 2);
			width: calc((100% - 20px) / 2);
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.svn-offer {
		.card-sale {
			min-width: calc((100% - 40px) / 3);
			width: calc((100% - 40px) / 3);
		}
	}
}

.svn-about {
	.spoiler {
		max-height: 136px;

		&[aria-expanded="false"] {
			&::before {
				min-height: 56px;
				height: 56px;
			}
		}
	}
}

.pre-footer {
	background-color: var(--gray5-color);

	&__container {
		display: flex;
	}
	&__descr {
		display: flex;
		align-items: center;
		gap: 20px;

		&-info {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&-text {
			color: var(--gray1-color);
			font-size: 14px;
		}
	}
	&__subscribe {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
}
@media (min-width: 768px) {
	.pre-footer {
		&__subscribe {
			&-caption {
				padding-right: 160px;
			}
		}
	}
}
@media (min-width: 992px) {
	.pre-footer {
		padding-top: 32px;
		padding-bottom: 32px;

		&__descr {
			flex: 1;
			gap: 12px;
		}
	}
}
@media (min-width: 1200px) {
	.pre-footer {
		&__container {
			align-items: center;
			gap: 20px;
		}
		&__act {
			min-width: 43%;
			width: 43%;
		}
	}
}
@media (max-width: 1199.98px) {
	.pre-footer {
		&__container {
			flex-direction: column;
			gap: 16px;
		}
	}
}
@media (max-width: 991.98px) {
	.pre-footer {
		padding-top: 16px;
		padding-bottom: 16px;

		&__descr {
			gap: 8px;
		}
	}
}